.pokeball{
    box-sizing: border-box;
    --pokeball-size: 250px;
    --pokeball-inner-size: 80px;
    --pokeball-border-size: 10px;
    --before-diameter: var(--pokeball-inner-size);
    --after-diameter: calc(var(--before-diameter) - (var(--pokeball-border-size) * 3));
    border: var(--pokeball-border-size) solid #262122;
    width: var(--pokeball-size);
    height: var(--pokeball-size);
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(
        150deg,
        #BA0C2F 0%,
        #BA0C2F 44%,
        #262122 44%,
        #262122 56%,
        #ffffff 56%,
        #ffffff 100%
    );
}
.pokeball:before,
.pokeball:after{
    content: " ";
    border-radius: 100%;
    display: block;
    position: absolute;
}
.pokeball:before{
    background: #262122;
    width: var(--before-diameter);
    height: var(--before-diameter);
    top: calc(50% - var(--before-diameter) / 2);
    left: calc(50% - var(--before-diameter) / 2);
}
.pokeball:after{
    width: var(--after-diameter);
    height: var(--after-diameter);
    top: calc(50% - ((var(--after-diameter) / 2) + var(--pokeball-border-size)));
    left: calc(50% - ((var(--after-diameter) / 2) + var(--pokeball-border-size)));
    background: #ffffff;
    border: double var(--pokeball-border-size) #262122;
}
.pokeball-animated-blink:after{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: pokeball-blink;
}
.pokeball-animated{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: pokeball-shake;
}
@keyframes pokeball-shake{
    from{ transform: none; }
    20%{ transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg); }
    40%{ transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg); }
    50%{ transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -10deg); }
    60%{ transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg); }
    to{ transform: none; }
}
@keyframes pokeball-blink{
    from{ background: #ffffff; }
    40%{ background: #ffffff; }
    50%{ background: #ff0000; }
    to{ tbackground: #ffffff; }
}
